# SPDX-FileCopyrightText: 2025 CERN
#
# SPDX-License-Identifier: GPL-3.0-or-later

[Unit]
Description=Puppet Agent Exporter
After=network.target

[Service]
# Fallback when environment file does not exist
Environment=OPTIONS=
EnvironmentFile=-/etc/sysconfig/puppet-agent-exporter
ExecStart=/usr/bin/puppet-agent-exporter $OPTIONS
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
